*{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: white;
 }

#main1{
   height: 50%;
   width: 50%;
   float: left;
   position: relative;
}

#main2{
   height: 50%;
   width: 50%;
   float: right;
   position: relative;
}
#main3{
  height: 50%;
  width: 50%;
  float: left;
  clear: both;
  position: relative;
}
#main4{
 height: 50%;
 width: 50%;
 float: left;
 position: relative;
}
.grad1 {
	background-image: linear-gradient(to top,red, black);
  /*edit the line above to specify the gradient direction*/
  width: 100vw;
  height: 100vh;
}
.grad2 {
	background-image: linear-gradient(to right,red, black);
  /*edit the line above to specify the gradient direction*/
  width: 100vw;
  height: 100vh;
}
.grad3 {
	background-image: linear-gradient(to bottom,red 30%, black);
  /*edit the line above to specify the gradient direction*/
  width: 100vw;
  height: 100vh;
}
.grad4 {
	background-image: linear-gradient(to left,red 30%, black);
  /*edit the line above to specify the gradient direction*/
  width: 100vw;
  height: 100vh;
}
.grad11 {
	background-image: radial-gradient(circle at top,red 30%,black);
  /*edit the line above to specify the gradient direction*/
  width: 100vw;
  height: 100vh;
}
.grad22 {
	background-image: radial-gradient(circle at top right,red 30%, black);
  /*edit the line above to specify the gradient direction*/
  width: 100vw;
  height: 100vh;
}
.grad33 {
	background-image: radial-gradient(circle at bottom,red, black);
  /*edit the line above to specify the gradient direction*/
  width: 100vw;
  height: 100vh;
}
.grad44 {
	background-image: radial-gradient(circle at bottom right,red, black);
  /*edit the line above to specify the gradient direction*/
  width: 100vw;
  height: 100vh;
}