/* small { 
 visibility: hidden;
}

.error {
  color: var(--error-color);
  visibility: visible;
}

.warn {
  color: var(--warn-color);
  visibility: visible;
}

.success {
  color: var(--success-color);
  visibility: visible;
}

.hidden {
  visibility: hidden;
}  */